/* --- CSS RESET --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- END CSS RESET --- */

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background: #D3212D;
  background: -moz-linear-gradient(45deg, #D3212D 0%, #808080 72%, #000000 100%);
  background: -webkit-linear-gradient(45deg, #D3212D 0%, #808080 72%, #000000 100%);
  background: linear-gradient(45deg, #D3212D 0%, #808080 72%, #000000 100%);
} 

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar--item {
  float: left;
  padding: 12px;
  color: antiquewhite;
  text-decoration: none;
  font-size: 17px;
  width: 31%;
  text-align: center;
}

.nav-item:hover {
  background-color: #000;
}

.nav-item.active {
  background-color: #04AA6D;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.App-header {
  background-color: #282c34;
  padding: 2em;
  width: 100%;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: antiquewhite;
  text-shadow: 10px 10px 30px #D3212D;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.form__limit--label, .form__receipt--label {
  text-align: center;
  margin: 1em;
  padding: 0.3em;
  color: antiquewhite;
  font-size: 1.5em;
}

.form__receipt--input, .form__limit--input {
  margin: 0.5em;
  border-radius: 0.3em;
}

.form__button {
  border-radius: 0.5em;
  font: red;
  margin: 1em;
  padding: 0.3em;
}

.diagram {
  padding: 1em;
  max-width: 500;
}

.budget-left {
  padding: 1em;
  margin: 1em;
  border-radius: 0.5em;
  font-size: larger;
  color: red;
  background-color: antiquewhite;
}

.placeholder {
  padding: 2em;
}

.rcontainer__expense-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
}

.expense {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  width: 100%;
  border: 1px solid darkred;
  border-radius: 0.5em;
  background: rgb(43, 42, 41);
  margin: 0.3em;
}

.expense__desc {
  color: antiquewhite;
  margin: 0.2em;
}

.expense__amount {
  color: antiquewhite;
  margin: 0.3em;
}

.expense__remove-button {
  margin: 0.2em;
  color: red;
  background: antiquewhite;
}